<h1>Ejercicio de routing</h1>
<nav>
  <ul>
    <li><a routerLink="/inicio" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a></li>
    <li><a routerLink="/quienes_somos" routerLinkActive="active" ariaCurrentWhenActive="page">Quienes Somos</a></li>
    <li><a routerLink="/contactar" routerLinkActive="active" ariaCurrentWhenActive="page">Contactar</a></li>
    <li><a routerLink="/mostrar_factura" routerLinkActive="active" ariaCurrentWhenActive="page">Mostrar Factura</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>